<section>
  <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
    <div class="w-full bg-cyan-900 rounded-lg shadow md:mt-0 sm:max-w-md xl:p-0">
      <div class="p-6 space-y-4 md:space-y-6 sm:p-8">

        <h1 class="text-cyan-200 text-3xl text-center font-bold">
          Welcome to MyMeds!
        </h1>

        <div class="grid grid-cols-1 gap-2">

          <%= button_to "Sign in with email", "/sessions/new", class: "w-full ml-3 bg-white py-2 px-4 border border-gray-300 rounded-md shadow-sm text-sm font-medium  hover:bg-cyan-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500", method: :get %>
          <%= button_to "Sign in with Github", "/auth/github", class: "w-full ml-3 bg-white py-2 px-4 border border-gray-300 rounded-md shadow-sm text-sm font-medium  hover:bg-cyan-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500", data: { turbo: false } %>
          <%= button_to "Sign in with Google", '/auth/google_oauth2', class: "w-full ml-3 bg-white py-2 px-4 border border-gray-300 rounded-md shadow-sm text-sm font-medium hover:bg-cyan-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500", method: :post, :data => { turbo: "false" } %>
          <%= button_to "Create an Account", "/registrations/new", class: "w-full ml-3 bg-cyan-700 py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-cyan-200 hover:bg-cyan-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500", method: :get %>

        </div>
      </div>
    </div>
  </div>

</section>